<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantsAjaxified391</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- ℹ️ 'defer: true' means that the loading of this line can be done later -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="container">
      <div class="col-sm-8 offset-sm-2">
        <%= yield %>
      </div>
    </div>
  </body>

</html>
